<div class="TitMod">Dashboard / <span style="font-size:18px">Gráficos</span></div>
<div class="FilMod">
    <table width="100%" cellpadding="5px;">
        <tr>
        <td width="20%" align="center" valign="middle">
            <div class="input-group mb-3" style="margin-bottom:0px !important;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="InpDes">Desde</span>
            </div>
            <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="InpDes" [(ngModel)]="FecDes">
            </div>
        </td>
        <td width="20%" align="center" valign="middle">
            <div class="input-group mb-3" style="margin-bottom:0px !important;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="InpHas">Hasta</span>
            </div>
            <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="InpHas" [(ngModel)]="FecHas">
            </div>
        </td>
        <td width="20%" align="center" valign="middle">
            <img src="assets/img/exc.png" class="BotModFil" title="Exportar" (click)="CarLisExp()">
        </td>
        <td width="20%" align="center" valign="middle">
            <img src="assets/img/bus.png" class="BotModFil" title="Buscar" (click)="ActGra()">
        </td>
        </tr>
    </table>
</div>

<div class="card-deck mb-3 text-center" style="margin:2%;">
    <div class="card mb-6 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Viajes por Estatus</h4>
        </div>
        <div class="card-body" style="height:200px;">
            <canvas #Gra1=base-chart baseChart
                [data]="donaChartData"
                [labels]="donaChartLabels"
                [chartType]="donaChartType"
                [options]="donaChartOpt"
                [colors]="donaChartCol">
            </canvas>
        </div>
    </div>
    <div class="card mb-6 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Usuarios por Tipo</h4>
        </div>
        <div class="card-body" style="height:200px;">
            <canvas #Gra2=base-chart baseChart
                [data]="barChartData"
                [labels]="barChartLabels"
                [chartType]="barChartType"
                [options]="barChartOpt"
                [colors]="barChartCol">
            </canvas>
        </div>
    </div>
</div>
<div class="card-deck mb-3 text-center" style="margin:2%;">
    <div class="card mb-12 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Horario de Viajes</h4>
        </div>
        <div class="card-body" style="height:200px;">
            <canvas #Gra3=base-chart baseChart height="300px"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
            </canvas>
        </div>
    </div>
</div>