<div class="TitMod">Opciones / <span style="font-size:18px">Perfil</span></div>
<div class="ConMod">
    <div class="card-deck mb-2 text-center" style="margin:2%;">
        <div class="card mb-12 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Datos Personales</h4>
            </div>
            <div class="card-body">
                <table style="width:100%; height:100%; background-color:#f5f5f5; text-align: left;" cellpadding="10">
                    <tr>
                        <td style="text-align: center; height:250px; width:250px;" rowspan="2">
                            <img *ngIf="servicios.UsuMat.FotPer && Cargando == ''" (click)="CarFot()" src="{{servicios.ApiUrl}}img/usu/{{servicios.UsuMat.FotPer}}" style="height:200px; width:200px; border-radius:50%;">
                            <mat-spinner *ngIf="Cargando == 'Si'" style="margin: 0 auto;"></mat-spinner>
                            <input style="width:10px; opacity:0;" type="file" lang="es" id="InpFot" #InpFot ng2FileSelect accept="image/png,image/jpeg" [uploader]="uploader" (input)="ActVal()">
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="Nombre"><strong>Nombre<span style="color:#f00;">*</span></strong></label>
                                <input type="text" class="form-control" [(ngModel)]="servicios.UsuMat.Nombre" id="Nombre">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="Apellido"><strong>Apellido<span style="color:#f00;">*</span></strong></label>
                                <input type="text" class="form-control" [(ngModel)]="servicios.UsuMat.Apellido" id="Apellido">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="Email"><strong>Email<span style="color:#f00;">*</span></strong></label>
                                <input type="text" class="form-control" [(ngModel)]="servicios.UsuMat.Email" id="Email">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="Telefono"><strong>Teléfono<span style="color:#f00;">*</span></strong></label>
                                <input type="text" class="form-control" [(ngModel)]="servicios.UsuMat.Telefono" id="Telefono">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;" colspan="3">
                            <img src="assets/img/ace.png" class="BotModFil" title="Guardar" (click)="ActPer()">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>