<div class="TitMod">Servicios / <span style="font-size:18px">{{DGM.Nombre}}</span></div>
<div class="ConMod">
  <table class="table table-hover table-striped table-bordered">

    <thead class="TabHeaMod">
      <tr>
        <th *ngIf="DGM.OpcFil == 'Si'" scope="col" style="background-color:#fff; border: 1px solid #fff;"></th>
        <th scope="col" style="text-align:center;">Nº</th>
        <th *ngFor="let ce of DGM.CamMod" [ngStyle]="{'text-align':servicios.AliCamMod(ce.Tip)}" scope="col">{{ce.Tit}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="!DatRes"><td colspan="100%" align="center" valign="middle"><img src="assets/img/giphy.gif" style="height:250px;"></td></tr>
      <tr *ngIf="DatRes && DatRes.length == 0"><td colspan="100%" align="center" valign="middle" style="color:#856404">No existen registros</td></tr>

      <tr *ngFor="let dat of DatRes">
        <td *ngIf="DGM.OpcFil == 'Si'" scope="row" style="text-align:center; vertical-align:middle;">
          <img src="assets/img/mod.png" class="BotMod" title="Modificar" (click)="EjeFun('Modificar',dat)">
          <img *ngIf="dat.NRegistro > 1" src="assets/img/eli.png" class="BotMod" title="Eliminar" (click)="EjeFun('Eliminar',dat)">
          <br>
          <img src="assets/img/zontar.png" class="BotMod" title="Cobertura de la Tarifa" data-toggle="modal" data-target=".bd-example-modal-lg3" (click)="Geocerca(dat)">
          <img src="assets/img/zon.png" class="BotMod" title="Zonas de la Tarifa" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="Zonas(dat)">
          <img src="assets/img/cal.png" class="BotMod" title="Feriados de la Tarifa" data-toggle="modal" data-target=".bd-example-modal-lg2" (click)="Feriados(dat)">
        </td>
        <td style="text-align:center;">{{dat.NRegistro}}</td>
        <td *ngFor="let cd of DGM.CamMod" [ngStyle]="{'text-align':servicios.AliCamMod(cd.Tip)}">{{servicios.ForCamMod(dat[cd.Cmp],cd)}}</td>
      </tr>
    </tbody>

  </table>
</div>
<div class="PieMod">
  <table width="100%">
    <tr>
      <td width="20%" align="center" valign="middle"><span *ngIf="DatRes && DatRes.length != 0">{{DatRes.length}} Registros</span></td>
      <td width="10%" align="center" valign="middle">
        <img src="assets/img/zon.png" class="BotModPie" title="Definición de Zonas" (click)="DefZon()">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/ref.png" class="BotModPie" title="Refrescar" (click)="Refrescar()" *ngIf="DonBus != ''">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/bus.png" class="BotModPie" title="Buscar" (click)="EjeFun('Buscar','')">
      </td>
      <td width="10%" align="center" valign="middle">
        <img src="assets/img/exc.png" class="BotModPie" title="Exportar" (click)="servicios.exportAsExcelFile(OJE,DGM.Nombre)">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/agr.png" class="BotModPie" title="Agregar" (click)="EjeFun('Agregar','')">
      </td>
    </tr>
  </table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:80% !important;" role="document">
    <div class="modal-content" style="height:550px;">
      <div class="TitMod" *ngIf="DetDat">Zonas de la Tarifa: <span style="font-size:18px">{{DetDat.Nombre}}</span> <div style="float:right;"><a style="color:#000; cursor:pointer; margin-right:10px;" data-dismiss="modal"><strong>&times;</strong></a></div></div>
      <div class="container-fluid">
        <div class="row" style="height:500px !important;">
          
          <div class="col-md-4" style="height:100%; padding:10px; border:0px solid #f00;">
            <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Tarifa por zona</h3></div>
            <!--<div style="width:100%; background-color:#92d050; color:#fff; text-align:center;"><h3>Tarifa por zona</h3></div>-->
            <table style="width:100%; height:90%; background-color:#f5f5f5;" cellpadding="5">
              <tr>
                <td colspan="2">
                  <div class="form-group">
                    <label for="ZonaA"><strong>Zona A<span style="color:#f00;">*</span></strong></label>
                    <select class="form-control" [(ngModel)]="ZonaA" id="ZonaA">
                      <!--<option value="0">Cualquier lugar</option>-->
                      <option *ngFor="let opt of LisZon" value="{{opt.NRegistro}}">{{opt.Nombre}}</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="form-group">
                    <label for="Sentido"><strong>Sentido<span style="color:#f00;">*</span></strong></label>
                    <select class="form-control" [(ngModel)]="Sentido" id="Sentido">
                      <option value="Desde y Hasta">Desde y Hasta</option>
                      <option value="Hasta">Hasta</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="form-group">
                    <label for="ZonaB"><strong>Zona B<span style="color:#f00;">*</span></strong></label>
                    <select class="form-control" [(ngModel)]="ZonaB" id="ZonaB">
                      <!--<option value="0">Cualquier lugar</option>-->
                      <option *ngFor="let opt of LisZon" value="{{opt.NRegistro}}">{{opt.Nombre}}</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width:50%;">
                  <div class="form-group">
                    <label for="Precio"><strong>Porcentaje<span style="color:#f00;">*</span></strong></label>
                    <input type="number" step="0.01" class="form-control" [(ngModel)]="Precio" id="Precio">
                  </div>
                </td>
                <td style="width:50%;">
                  <div class="form-group">
                    <label for="Estatus"><strong>Estado<span style="color:#f00;">*</span></strong></label>
                    <select class="form-control" [(ngModel)]="Estatus" id="Estatus">
                      <option value="Activa">Activa</option>
                      <option value="Inactiva">Inactiva</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="text-align:center;">
                  <img src="assets/img/ace.png" class="BotModPie" title="Guardar" (click)="GuaTarZon(DetDat)">
                </td>
              </tr>
            </table>
          </div>

          <div *ngIf="DetDat" class="col-md-8" style="height:100%; padding:10px; border:0px solid #0f0;">
            <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Lista de Tarifas por zona</h3></div>
            <!--<div style="width:100%; background-color:#92d050; color:#fff; text-align:center;"><h3>Lista de Tarifas por zona</h3></div>-->
            <div style="height:90%; width:100%; overflow:auto;">
              <table class="table table-hover table-striped table-bordered">
                <thead class="TabHeaMod">
                  <tr>
                    <th scope="col" style="background-color:#fff; border: 1px solid #fff;"></th>
                    <th scope="col" style="text-align:center;">Nº</th>
                    <th style="text-align:left" scope="col">Zona A</th>
                    <th style="text-align:left" scope="col">Sentido</th>
                    <th style="text-align:left" scope="col">Zona B</th>
                    <th style="text-align:right" scope="col">Porcentaje</th>
                    <th style="text-align:center" scope="col">Estado</th>
                  </tr>
                </thead>
            
                <tbody>
                  <tr *ngIf="!DetTar"><td colspan="100%" align="center" valign="middle"><img src="assets/img/giphy.gif" style="height:250px;"></td></tr>
                  <tr *ngIf="DetTar && DetTar.length == 0"><td colspan="100%" align="center" valign="middle" style="color:#856404">No existen registros</td></tr>
                  <tr *ngFor="let det of DetTar">
                    <td scope="row" style="text-align:center; vertical-align:middle;">
                      <img src="assets/img/mod.png" class="BotMod" title="Modificar" (click)="ModDetTar(det)">
                      <img src="assets/img/eli.png" class="BotMod" title="Eliminar" (click)="EliDetTar(DetDat,det)">
                    </td>
                    <td style="text-align:center;">{{det.NRegistro}}</td>
                    <td style="text-align:left">{{det.DesZonA}}</td>
                    <td style="text-align:left">{{det.Sentido}}</td>
                    <td style="text-align:left">{{det.DesZonB}}</td>
                    <td style="text-align:right">{{servicios.NumFor(det.Precio,2)}}</td>
                    <td style="text-align:center">{{det.Estatus}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:80% !important;" role="document">
    <div class="modal-content" style="height:550px;">
      <div class="TitMod" *ngIf="DetDat">Feriados de la Tarifa: <span style="font-size:18px">{{DetDat.Nombre}}</span> <div style="float:right;"><a style="color:#000; cursor:pointer; margin-right:10px;" data-dismiss="modal"><strong>&times;</strong></a></div></div>
      <div class="container-fluid">
        <div class="row" style="height:500px !important;">
          
          <div *ngIf="DiaFer" class="col-md-5" style="height:100%; padding:10px; border:0px solid #f00;">
            <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Días feriados de la semana</h3></div>
            <!--<div style="width:100%; background-color:#92d050; color:#fff; text-align:center;"><h3>Días feriados de la semana</h3></div>-->
            <table cellpadding="10" style="width:100%; height:50%; background-color:#f5f5f5;">
              <tr>
                <td>
                  <div class="form-group">
                    <label for="Lunes"><strong>Lunes</strong></label>
                    <select class="form-control" [(ngModel)]="DiaFer[0]" id="Lunes">
                      <option value="0">No</option>
                      <option value="1">Si</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="Martes"><strong>Martes</strong></label>
                    <select class="form-control" [(ngModel)]="DiaFer[1]" id="Martes">
                      <option value="0">No</option>
                      <option value="1">Si</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="Miercoles"><strong>Miercoles</strong></label>
                    <select class="form-control" [(ngModel)]="DiaFer[2]" id="Miercoles">
                      <option value="0">No</option>
                      <option value="1">Si</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="Jueves"><strong>Jueves</strong></label>
                    <select class="form-control" [(ngModel)]="DiaFer[3]" id="Jueves">
                      <option value="0">No</option>
                      <option value="1">Si</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group">
                    <label for="Viernes"><strong>Viernes</strong></label>
                    <select class="form-control" [(ngModel)]="DiaFer[4]" id="Viernes">
                      <option value="0">No</option>
                      <option value="1">Si</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="Sabado"><strong>Sabado</strong></label>
                    <select class="form-control" [(ngModel)]="DiaFer[5]" id="Sabado">
                      <option value="0">No</option>
                      <option value="1">Si</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="Domingo"><strong>Domingo</strong></label>
                    <select class="form-control" [(ngModel)]="DiaFer[6]" id="Domingo">
                      <option value="0">No</option>
                      <option value="1">Si</option>
                    </select>
                  </div>
                </td>
                <td style="text-align:center;">
                  <img src="assets/img/ace.png" class="BotModPie" title="Guardar días feriados de la semana" (click)="GuaTarFer(DetDat)">
                </td>
              </tr>
            </table>

            <div class="card-header" style="width:100%; text-align:center; padding:0px; margin-top:10px;"><h3>Horario especial</h3></div>
            <!--<div style="width:100%; margin-top:10px; background-color:#92d050; color:#fff; text-align:center;"><h3>Horario especial</h3></div>-->
            <table cellpadding="10" style="width:100%; height:30%; background-color:#f5f5f5;">
              <tr>
                <td>
                  <div class="form-group">
                    <label for="HorEspIni"><strong>Inicio</strong></label>
                    <select class="form-control" [(ngModel)]="HorEspIni" id="HorEspIni">
                      <option value="12:00AM">12:00AM</option>
                      <option value="1:00AM">1:00AM</option>
                      <option value="2:00AM">2:00AM</option>
                      <option value="3:00AM">3:00AM</option>
                      <option value="4:00AM">4:00AM</option>
                      <option value="5:00AM">5:00AM</option>
                      <option value="6:00AM">6:00AM</option>
                      <option value="7:00AM">7:00AM</option>
                      <option value="8:00AM">8:00AM</option>
                      <option value="9:00AM">9:00AM</option>
                      <option value="10:00AM">10:00AM</option>
                      <option value="11:00AM">11:00AM</option>
                      <option value="12:00PM">12:00PM</option>
                      <option value="1:00PM">1:00PM</option>
                      <option value="2:00PM">2:00PM</option>
                      <option value="3:00PM">3:00PM</option>
                      <option value="4:00PM">4:00PM</option>
                      <option value="5:00PM">5:00PM</option>
                      <option value="6:00PM">6:00PM</option>
                      <option value="7:00PM">7:00PM</option>
                      <option value="8:00PM">8:00PM</option>
                      <option value="9:00PM">9:00PM</option>
                      <option value="10:00PM">10:00PM</option>
                      <option value="11:00PM">11:00PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="HorEspFin"><strong>Fin</strong></label>
                    <select class="form-control" [(ngModel)]="HorEspFin" id="HorEspFin">
                      <option value="12:00AM">12:00AM</option>
                      <option value="1:00AM">1:00AM</option>
                      <option value="2:00AM">2:00AM</option>
                      <option value="3:00AM">3:00AM</option>
                      <option value="4:00AM">4:00AM</option>
                      <option value="5:00AM">5:00AM</option>
                      <option value="6:00AM">6:00AM</option>
                      <option value="7:00AM">7:00AM</option>
                      <option value="8:00AM">8:00AM</option>
                      <option value="9:00AM">9:00AM</option>
                      <option value="10:00AM">10:00AM</option>
                      <option value="11:00AM">11:00AM</option>
                      <option value="12:00PM">12:00PM</option>
                      <option value="1:00PM">1:00PM</option>
                      <option value="2:00PM">2:00PM</option>
                      <option value="3:00PM">3:00PM</option>
                      <option value="4:00PM">4:00PM</option>
                      <option value="5:00PM">5:00PM</option>
                      <option value="6:00PM">6:00PM</option>
                      <option value="7:00PM">7:00PM</option>
                      <option value="8:00PM">8:00PM</option>
                      <option value="9:00PM">9:00PM</option>
                      <option value="10:00PM">10:00PM</option>
                      <option value="11:00PM">11:00PM</option>
                    </select>
                  </div>
                </td>
                <td style="text-align:center;">
                  <img src="assets/img/ace.png" class="BotModPie" title="Guardar horario especial" (click)="GuaHorEsp(DetDat)">
                </td>
              </tr>
            </table>
          </div>

          <div *ngIf="DiaFer" class="col-md-7" style="height:100%; padding:10px; border:0px solid #0f0;">
            <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Fechas feriadas</h3></div>
            <!--<div style="width:100%; background-color:#92d050; color:#fff; text-align:center;"><h3>Fechas feriadas</h3></div>-->
            <div style="height:20%; width:100%; border:0px solid #0ff;">
              <table style="width:100%;" cellpadding="5">
                <tr>
                  <td style="width:40%;">
                    <div class="form-group">
                      <label for="Fecha"><strong>Fecha<span style="color:#f00;">*</span></strong></label>
                      <input type="date" class="form-control" [(ngModel)]="Fecha" id="Fecha">
                    </div>
                  </td>
                  <td style="width:50%;">
                    <div class="form-group">
                      <label for="Descripcion"><strong>Descripcion<span style="color:#f00;">*</span></strong></label>
                      <input type="text" class="form-control" [(ngModel)]="Descripcion" id="Descripcion">
                    </div>
                  </td>
                  <td style="width:10%; text-align:center;">
                    <img src="assets/img/agr.png" class="BotMod" title="Agregar" (click)="AgrDetFer(DetDat)">
                  </td>
                </tr>
              </table>
            </div>
            <div style="height:70%; width:100%; overflow:auto;">
              <table class="table table-hover table-striped table-bordered">
                <thead class="TabHeaMod">
                  <tr>
                    <th scope="col" style="background-color:#fff; border: 1px solid #fff;"></th>
                    <th scope="col" style="text-align:center;">Nº</th>
                    <th style="text-align:left" scope="col">Fecha</th>
                    <th style="text-align:left" scope="col">Descripcion</th>
                  </tr>
                </thead>
            
                <tbody>
                  <tr *ngIf="!DetFer"><td colspan="100%" align="center" valign="middle"><img src="assets/img/giphy.gif" style="height:250px;"></td></tr>
                  <tr *ngIf="DetFer && DetFer.length == 0"><td colspan="100%" align="center" valign="middle" style="color:#856404">No existen registros</td></tr>
                  <tr *ngFor="let det of DetFer">
                    <td scope="row" style="text-align:center; vertical-align:middle;">
                      <img src="assets/img/eli.png" class="BotMod" title="Eliminar" (click)="EliDetFer(DetDat,det)">
                    </td>
                    <td style="text-align:center;">{{det.NRegistro}}</td>
                    <td style="text-align:left">{{servicios.ForFecHorFer(det.Fecha)}}</td>
                    <td style="text-align:left">{{det.Descripcion}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:80% !important;" role="document">
    <div class="modal-content" style="height:550px;">
      <div class="TitMod" *ngIf="DetDat">Cobertura de la Tarifa: <span style="font-size:18px">{{DetDat.Nombre}}</span> <div style="float:right;"><a style="color:#000; cursor:pointer; margin-right:10px;" data-dismiss="modal" #closeAddExpenseModal><strong>&times;</strong></a></div></div>
      <div class="container-fluid">
        <div class="row" style="height:400px !important;">
          <div class="col-md-12" style="height:100%; padding:10px; border:0px solid #f00;">
            <div #map id="map"></div>
          </div>
        </div>

        <div class="row" style="height:75px !important;">
          <div *ngIf="DetDat" class="col-md-12" style="height:100%; padding:10px; border:0px solid #00f;">
            <div class="PieMod">
              <table width="100%">
                <tr>
                  <td width="60%" align="center" valign="middle">
                    <p *ngIf="DetDat.Puntos == ''"><strong>Por favor dibuje la geocerca haciendo click en el mapa</strong></p>
                  </td>
                  <td width="20%" align="center" valign="middle">
                    <img *ngIf="DetDat.Puntos == ''" src="assets/img/reset.png" class="BotModPie" title="Borrar" (click)="ResetGeo();">
                  </td>
                  <td width="20%" align="center" valign="middle">
                    <img src="assets/img/ace.png" class="BotModPie" title="Guardar" (click)="GuaGeo(DetDat);">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>