<div class="TitMod">Servicios / <span style="font-size:18px">{{DGM.Nombre}}</span></div>
<div class="ConMod">
  <table class="table table-hover table-striped table-bordered">

    <thead class="TabHeaMod">
      <tr>
        <th *ngIf="DGM.OpcFil == 'Si'" scope="col" style="background-color:#fff; border: 1px solid #fff;"></th>
        <th scope="col" style="text-align:center;">Nº</th>
        <th *ngFor="let ce of DGM.CamMod" [ngStyle]="{'text-align':servicios.AliCamMod(ce.Tip)}" scope="col">{{ce.Tit}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="!DatRes"><td colspan="100%" align="center" valign="middle"><img src="assets/img/giphy.gif" style="height:250px;"></td></tr>
      <tr *ngIf="DatRes && DatRes.length == 0"><td colspan="100%" align="center" valign="middle" style="color:#856404">No existen registros</td></tr>

      <tr *ngFor="let dat of DatRes">
        <td *ngIf="DGM.OpcFil == 'Si'" scope="row" style="text-align:center; vertical-align:middle;">
          <img src="assets/img/mod.png" class="BotMod" title="Modificar" (click)="EjeFun('Modificar',dat)">
          <img src="assets/img/eli.png" class="BotMod" title="Eliminar" (click)="EjeFun('Eliminar',dat)">
          <img src="assets/img/zon.png" class="BotMod" title="Geocerca" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="Geocerca(dat)">
        </td>
        <td style="text-align:center;">{{dat.NRegistro}}</td>
        <td *ngFor="let cd of DGM.CamMod" [ngStyle]="{'text-align':servicios.AliCamMod(cd.Tip)}">{{servicios.ForCamMod(dat[cd.Cmp],cd)}}</td>
      </tr>
    </tbody>

  </table>
</div>
<div class="PieMod">
  <table width="100%">
    <tr>
      <td width="20%" align="center" valign="middle"><span *ngIf="DatRes && DatRes.length != 0">{{DatRes.length}} Registros</span></td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/vol.png" class="BotModPie" title="Volver" (click)="Volver()">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/ref.png" class="BotModPie" title="Refrescar" (click)="Refrescar()" *ngIf="DonBus != ''">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/bus.png" class="BotModPie" title="Buscar" (click)="EjeFun('Buscar','')">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/agr.png" class="BotModPie" title="Agregar" (click)="EjeFun('Agregar','')">
      </td>
    </tr>
  </table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width: 50% !important;" role="document">
    <div class="modal-content" style="height:550px;">
      <div class="TitMod" *ngIf="DetDat">Geocerca de Tarifa: <span style="font-size:18px">{{DetDat.Nombre}}</span> <div style="float:right;"><a style="color:#000; cursor:pointer; margin-right:10px;" data-dismiss="modal" #closeAddExpenseModal><strong>&times;</strong></a></div></div>
      <div class="container-fluid">
        <div class="row" style="height:400px !important;">
          <div class="col-md-12" style="height:100%; padding:10px; border:0px solid #f00;">
            <div #map id="map"></div>
          </div>
        </div>

        <div class="row" style="height:75px !important;">
          <div *ngIf="DetDat" class="col-md-12" style="height:100%; padding:10px; border:0px solid #00f;">
            <div class="PieMod">
              <table width="100%">
                <tr>
                  <td width="60%" align="center" valign="middle">
                    <p *ngIf="DetDat.Puntos == ''"><strong>Por favor dibuje la geocerca haciendo click en el mapa</strong></p>
                  </td>
                  <td width="20%" align="center" valign="middle">
                    <img *ngIf="DetDat.Puntos == ''" src="assets/img/reset.png" class="BotModPie" title="Borrar" (click)="ResetGeo();">
                  </td>
                  <td width="20%" align="center" valign="middle">
                    <img src="assets/img/ace.png" class="BotModPie" title="Guardar" (click)="GuaGeo(DetDat);">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>