<div class="TitMod">Datos / <span style="font-size:18px">{{DGM.Nombre}}</span></div>
<div class="ConMod">
  <table class="table table-hover table-striped table-bordered">
    <thead class="TabHeaMod">
      <tr>
        <th *ngIf="DGM.OpcFil == 'Si'" scope="col" style="background-color:#fff; border: 1px solid #fff;"></th>
        <th scope="col" style="text-align:center;">Nº</th>
        <th *ngFor="let ce of DGM.CamMod" [ngStyle]="{'text-align':servicios.AliCamMod(ce.Tip)}" scope="col">{{ce.Tit}}</th>
      </tr>
    </thead>

    <tbody class="TabBodMod">
      <!--<tr *ngIf="!DatRes"><td colspan="100%" align="center" valign="middle"><img src="assets/img/giphy.gif" style="height:250px;"></td></tr>-->
      <tr *ngIf="!DatRes"><td colspan="100%" align="center" valign="middle"><mat-spinner style="margin: 0 auto;" [diameter]="50"></mat-spinner></td></tr>
      <tr *ngIf="DatRes && DatRes.length == 0"><td colspan="100%" align="center" valign="middle" style="color:#856404">No existen registros</td></tr>

      <tr *ngFor="let dat of DatRes">
        <td *ngIf="DGM.OpcFil == 'Si'" scope="row" style="text-align:center; vertical-align:middle;">
          <img src="assets/img/mod.png" class="BotMod" title="Modificar" (click)="EjeFun('Modificar',dat)">
          <img src="assets/img/eli.png" class="BotMod" title="Eliminar" (click)="EjeFun('Eliminar',dat)">
          <br>
          <img src="assets/img/zontar.png" class="BotMod" title="Ubicación Delivery" data-toggle="modal" data-target=".bd-example-modal-lg3" (click)="Delivery(dat)">
        </td>
        <td style="text-align:center;">{{dat.NRegistro}}</td>
        <td *ngFor="let cd of DGM.CamMod" [ngStyle]="{'text-align':servicios.AliCamMod(cd.Tip)}">
            <span *ngIf="cd.Tip != 'Imagen'">{{servicios.ForCamMod(dat[cd.Cmp],cd)}}</span>
            <a target="_blank" href="{{servicios.ApiUrl}}img/{{cd.Car}}/{{servicios.ForCamMod(dat[cd.Cmp],cd)}}"><img *ngIf="cd.Tip == 'Imagen'" src="{{servicios.ApiUrl}}img/{{cd.Car}}/{{servicios.ForCamMod(dat[cd.Cmp],cd)}}" style="height:100px; border-radius:10px;"></a>
        </td>
      </tr>
    </tbody>

  </table>
</div>
<div class="PieMod">
  <table width="100%">
    <tr>
      <td width="20%" align="center" valign="middle"><span *ngIf="DatRes && DatRes.length != 0">{{DatRes.length}} Registros</span></td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/ref.png" class="BotModPie" title="Refrescar" (click)="Refrescar()" *ngIf="DonBus != ''">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/bus.png" class="BotModPie" title="Buscar" (click)="EjeFun('Buscar','')">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/exc.png" class="BotModPie" title="Exportar" (click)="servicios.exportAsExcelFile(OJE,DGM.Nombre)">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/agr.png" class="BotModPie" title="Agregar" (click)="EjeFun('Agregar','')">
      </td>
    </tr>
  </table>
</div>

<div class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:70% !important;" role="document">
      <div class="modal-content" style="height:550px;">
        <div class="TitMod" *ngIf="DetDat">Ubicación Delivery: <span style="font-size:18px">{{DetDat.Nombre}}</span> <div style="float:right;"><a style="color:#000; cursor:pointer; margin-right:10px;" data-dismiss="modal" #closeAddExpenseModal><strong>&times;</strong></a></div></div>
        <div class="container-fluid">
          <div class="row" style="height:400px !important;">
            <div style="width:99%; text-align: center;">
              <input id="pac-input" type="text" placeholder="Dirección a buscar ..." style="width:99%; margin:10px; font-size:18px; border-radius:5px;">
            </div>
            <div class="col-md-12" style="height:90%; padding:0px 10px 0px 10px; border:0px solid #f00;">
              <div #map id="map"></div>
            </div>
          </div>
  
          <div class="row" style="height:75px !important;">
            <div *ngIf="DetDat" class="col-md-12" style="height:100%; padding:10px; border:0px solid #00f;">
              <div class="PieMod">
                <table width="100%">
                  <tr>
                    <td width="60%" align="center" valign="middle">
                      <span style="display:none;" id="BusDes" type="text"></span>
                      <span style="display:none;" id="BusLatLon" type="text"></span>
                    </td>
                    <td width="20%" align="center" valign="middle">
                      
                    </td>
                    <td width="20%" align="center" valign="middle">
                      <img src="assets/img/ace.png" class="BotModPie" title="Guardar" (click)="GuaUbiDel();">
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>