<!--
<mat-toolbar color="primary">
    <span>{{servicios.App.Nombre}}</span>
</mat-toolbar>
-->
<div  style="padding:50px;">
    <div style="margin:0 auto; margin-top:10%; min-width:300px; max-width:500px;">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h1><img class="logoBar"> ¡Bienvenido a {{servicios.App.Nombre}}!</h1>
            </div>
            <div class="card-body">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Correo electrónico" [(ngModel)]="email" id="Email">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon2" style="min-width:40px;">*</span>
                </div>
                <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="passw" id="Pass">
              </div>
              <p (click)="RecCon()" style="width:100%; text-align:right; cursor:pointer; font-weight: bold; opacity:0.5;">¿Olvido su contraseña?</p>
              <button (click)="Login()" type="button" class="btn btn-primary">Iniciar Sesión</button>
            </div>
          </div>
    </div>
</div>