<div class="TitMod">Usuarios / <span style="font-size:18px">{{DGM.Nombre}}</span></div>
<div class="ConMod">
  <table class="table table-hover table-striped table-bordered">
    <thead class="TabHeaMod">
      <tr>
        <th *ngIf="DGM.OpcFil == 'Si'" scope="col" style="background-color:#fff; border: 1px solid #fff;"></th>
        <th scope="col" style="text-align:center;">Nº</th>
        <th *ngFor="let ce of DGM.CamMod" [ngStyle]="{'text-align':servicios.AliCamMod(ce.Tip)}" scope="col">{{ce.Tit}}</th>
      </tr>
    </thead>

    <tbody class="TabBodMod">
      <!--<tr *ngIf="!DatRes"><td colspan="100%" align="center" valign="middle"><img src="assets/img/giphy.gif" style="height:250px;"></td></tr>-->
      <tr *ngIf="!DatRes"><td colspan="100%" align="center" valign="middle"><mat-spinner style="margin: 0 auto;" [diameter]="50"></mat-spinner></td></tr>
      <tr *ngIf="DatRes && DatRes.length == 0"><td colspan="100%" align="center" valign="middle" style="color:#856404">No existen registros</td></tr>

      <tr *ngFor="let dat of DatRes">
        <td *ngIf="DGM.OpcFil == 'Si'" scope="row" style="text-align:center; vertical-align:middle;">
          <img src="assets/img/mod.png" class="BotMod" title="Modificar" (click)="EjeFun('Modificar',dat)">
          <img src="assets/img/eli.png" class="BotMod" title="Eliminar" (click)="EjeFun('Eliminar',dat)">
          <br>
          <img src="assets/img/bil.png" class="BotMod" title="Billetera" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="Detalles(dat)">
        </td>
        <td style="text-align:center;">{{dat.NRegistro}}</td>
        <td *ngFor="let cd of DGM.CamMod" [ngStyle]="{'text-align':servicios.AliCamMod(cd.Tip)}">
            <span *ngIf="cd.Tip != 'Imagen'">{{servicios.ForCamMod(dat[cd.Cmp],cd)}}</span>
            <a *ngIf="!dat[cd.Cmp].includes('https://')" target="_blank" href="{{servicios.ApiUrl}}img/{{cd.Car}}/{{servicios.ForCamMod(dat[cd.Cmp],cd)}}">
              <img *ngIf="cd.Tip == 'Imagen'" src="{{servicios.ApiUrl}}img/{{cd.Car}}/{{servicios.ForCamMod(dat[cd.Cmp],cd)}}" style="height:100px; border-radius:10px;">
            </a>
            <a *ngIf="dat[cd.Cmp].includes('https://')" target="_blank" href="{{servicios.ForCamMod(dat[cd.Cmp],cd)}}">
              <img *ngIf="cd.Tip == 'Imagen'" src="{{servicios.ForCamMod(dat[cd.Cmp],cd)}}" style="height:100px; border-radius:10px;">
            </a>
        </td>
      </tr>
    </tbody>

  </table>
</div>
<div class="PieMod">
  <table width="100%">
    <tr>
      <td width="20%" align="center" valign="middle"><span *ngIf="DatRes && DatRes.length != 0">{{DatRes.length}} Registros</span></td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/ref.png" class="BotModPie" title="Refrescar" (click)="Refrescar()" *ngIf="DonBus != ''">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/bus.png" class="BotModPie" title="Buscar" (click)="EjeFun('Buscar','')">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/exc.png" class="BotModPie" title="Exportar" (click)="servicios.exportAsExcelFile(OJE,DGM.Nombre)">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/agr.png" class="BotModPie" title="Agregar" (click)="EjeFun('Agregar','')">
      </td>
    </tr>
  </table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width: 70% !important;" role="document">
    <div class="modal-content" style="height:550px;">
      <div class="TitMod" *ngIf="DetDat">Billetera de <span style="font-size:18px">{{DetDat.Nombre}} {{DetDat.Apellido}}</span> <div style="float:right;"><a style="color:#000; cursor:pointer; margin-right:10px;" data-dismiss="modal"><strong>&times;</strong></a></div></div>
      <div class="container-fluid">
        <div class="row" style="height:200px !important;">

          <div *ngIf="DetDat" class="col-md-6" style="height:100%; padding:10px; border:0px solid #f00;">
            <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>{{DetDat.Tipo}}</h3></div>
            <table style="width:100%; height:80%; background-color:#f5f5f5;">
              <tr>
                <td rowspan="3" style="text-align:center; vertical-align:middle;">
                  <img *ngIf="DetDat.FotPer" src="{{servicios.ApiUrl}}img/usu/{{DetDat.FotPer}}" style="height:100px; width:100px; border-radius:50%; margin-right:5px;">
                </td>
                <td ><strong>Nombre: </strong><span>{{DetDat.Nombre}} {{DetDat.Apellido}}</span></td>
              </tr>
              <tr>
                <td ><strong>Telefono: </strong><span>{{DetDat.Telefono}}</span></td>
              </tr>
              <tr>
                <td ><strong>Email: </strong><span>{{DetDat.Email}}</span></td>
              </tr>
              <tr>
                <td colspan="2" style="text-align:center;"><strong>Puntos: </strong><span>{{servicios.NumFor(DetDat.Puntos,0)}}</span></td>
              </tr>
            </table>
          </div>

          <div *ngIf="DetDat" class="col-md-6" style="height:100%; padding:10px; border:0px solid #0f0;">
            <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Saldo</h3></div>
            <table style="width:100%; height:80%; background-color:#f5f5f5;">
              <tr>
                <td style="text-align:center; font-size:48px;" [ngStyle]="{'color':servicios.ColSal(DetDat.Saldo)}">{{servicios.NumFor(DetDat.Saldo,2)}}</td>
              </tr>
            </table>
          </div>

        </div>

        <div class="row" style="height:280px !important;">

          <div *ngIf="DetDat" class="col-md-12" style="height:100%; padding:10px; overflow:auto; border:0px solid #00f;">
            <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Detalle de Transacciones</h3></div>
            <table class="table table-hover table-striped table-bordered">
              <thead class="TabHeaMod">
                <tr>
                  <th scope="col">Transacción</th>
                  <th scope="col">Descripción</th>
                  <th scope="col" style="text-align:right;">Monto</th>
                  <th scope="col" style="text-align:center;">Fecha Hora</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!Trans"><td colspan="8" align="center" valign="middle"><img src="assets/img/giphy.gif" style="height:250px;"></td></tr>
                <tr *ngIf="Trans && Trans.length == 0"><td colspan="8" align="center" valign="middle" style="color:#856404">No existen registros</td></tr>

                <tr *ngFor="let tra of Trans" [ngStyle]="{'color':servicios.ColMon(tra.Monto)}">
                  <td>{{tra.Transaccion}}</td>
                  <td>{{tra.Descripcion}}</td>
                  <td style="text-align:right;">{{servicios.NumFor(tra.Monto,2)}}</td>
                  <td style="text-align:center;">{{servicios.ForFecHor(tra.FecHor)}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>