<div *ngIf="servicios.DGF" class="TitMod">{{servicios.DGF.Acc}} registro en {{servicios.DGF.DGM.Nombre}}</div>
<div class="ConModFor">
  <table class="ConModForTab">
    <tr *ngFor="let r of servicios.DGF.DGM.TabFor.Fil; let i = index">
      <td class="ConModForTabTd" *ngFor="let c of servicios.DGF.DGM.TabFor.Col; let j = index">

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Texto'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <input type="text" class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}" [attr.disabled]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Blo == 'Si' ? true : null">
        </div>

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Entero'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <input type="number" step="1" class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}" [attr.disabled]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Blo == 'Si' ? true : null">
        </div>

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Numero'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <input type="number" step="0.01" class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}" [attr.disabled]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Blo == 'Si' ? true : null">
        </div>

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Porcentaje'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <input type="number" step="0.01" class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}" [attr.disabled]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Blo == 'Si' ? true : null">
        </div>

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Wallet'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <input type="number" step="0.01" class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}" [attr.disabled]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Blo == 'Si' ? true : null">
        </div>

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Fecha'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <input type="date" class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}" [attr.disabled]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Blo == 'Si' ? true : null">
        </div>

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'FechaHora'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <input type="datetime-local" class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}" [attr.disabled]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Blo == 'Si' ? true : null">
        </div>

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Select'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <select class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}" [attr.disabled]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Blo == 'Si' ? true : null">
            <option *ngFor="let opt of servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Opcs" value="{{opt.Val}}">{{opt.Tex}}</option>
          </select>
        </div>

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'SelectQry'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <select class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}" [attr.disabled]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Blo == 'Si' ? true : null">
            <option *ngFor="let opt of servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Qry.Res" value="{{opt[0]}}">{{opt[1]}} {{opt[2]}}</option>
          </select>
        </div>

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'NumTarCre'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <input type="number" step="1" class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}">
        </div>

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'VenTarCre'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <input type="text" step="1" class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}">
        </div>

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'CodTarCre'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <input type="number" step="1" class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}">
        </div>

        <div class="form-group" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Geocerca'">
          <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
          <input type="text" class="form-control" [(ngModel)]="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}">
        </div>

        <div class="form-group" style="text-align: center; margin-bottom: 0px;" *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Imagen' && servicios.DGF.Acc != 'Buscar'">
            <label for="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}"><strong>{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tit}} <span *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Req == 'Si' && servicios.DGF.Acc != 'Buscar'" style="color:#f00;">*</span></strong></label>
            <br>
            <mat-spinner *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Imagen' && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Est == 'Cargando'" [diameter]="100" style="margin:0 auto;"></mat-spinner>
            <img *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Imagen' && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Est == ''" src="{{servicios.ApiUrl}}img/{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Car}}/{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val}}" style="margin:1%; height:100px; width:100px; border-radius:10px;" (click)="CarFot((i*servicios.DGF.DGM.TabFor.Col.length)+j)">
            <input *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Blo != 'Si'" type="file" class="form-control-file" lang="es" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}" ng2FileSelect accept="image/png,image/jpeg" [uploader]="uploader" (input)="ActVal((i*servicios.DGF.DGM.TabFor.Col.length)+j,$event.target.files[0].name)" style="width:10px; opacity:0;">
            <!--<input *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Blo != 'Si'" type="file" class="form-control-file" lang="es" id="IB{{(i*servicios.DGF.DGM.TabFor.Col.length)+j}}" ng2FileSelect accept="image/png,image/jpeg" [uploader]="uploader" (input)="ActVal((i*servicios.DGF.DGM.TabFor.Col.length)+j,$event.target.files[0].name)">-->
        </div>
        <!--<img *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Imagen' && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Est == 'Cargando'" src="assets/img/giphy.gif" style="margin-left:20%; height:50px;">-->
        <!--<a *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j]" target="_blank" href="{{ApiImg}}{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Car}}/{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val}}">-->
          <!--<img *ngIf="servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j] && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Tip == 'Imagen' && servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Est == ''" src="{{ApiImg}}{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Car}}/{{servicios.DGF.DGM.CamMod[(i*servicios.DGF.DGM.TabFor.Col.length)+j].Val}}" style="margin-left:20%; height:50px;">-->
        <!--</a>-->
      </td>
    </tr>
  </table>

</div>
<div class="PieMod">
  <table width="100%">
    <tr>
      <td width="50%" align="center" valign="middle">
        <img src="assets/img/vol.png" class="BotModPie" title="Volver" (click)="Volver()">
      </td>
      <td width="50%" align="center" valign="middle">
        <img *ngIf="servicios.DGF.Acc == 'Agregar' && Cargando == ''" src="assets/img/agr.png" class="BotModPie" title="Agregar" (click)="Ejecuta('Agregar')">
        <img *ngIf="servicios.DGF.Acc == 'Buscar' && Cargando == ''" src="assets/img/bus.png" class="BotModPie" title="Buscar" (click)="Ejecuta('Buscar')">
        <img *ngIf="servicios.DGF.Acc == 'Modificar' && Cargando == ''" src="assets/img/mod.png" class="BotModPie" title="Modificar" (click)="Ejecuta('Modificar')">
        <img *ngIf="servicios.DGF.Acc == 'Eliminar' && Cargando == ''" src="assets/img/eli.png" class="BotModPie" title="Eliminar" (click)="Ejecuta('Eliminar')">
      </td>
    </tr>
  </table>
</div>