<div class="TitMod">Servicios / <span style="font-size:18px">{{DGM.Nombre}}</span></div>

<div class="col-md-3 EstAzu" style="cursor:pointer;" (click)="VerSolAbo()" title="Ver solicitudes de abono">
  <div class="row">
    <div class="col-7" style="padding:20px; text-align: center;">
      <h2>${{servicios.NumFor((TotAbo/1000),2)}}K</h2>
      <div>Total Abonado</div>
    </div>
    <div class="col-5" style="background: rgba(255,255,255,0.3); position: relative;">
      <img src="assets/img/mas.png" style="height:48px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;">
    </div>
  </div>
</div>
<div class="col-md-3 EstAma" style="cursor:pointer;" (click)="VerSolRet()" title="Ver solicitudes de retiro">
  <div class="row">
    <div class="col-7" style="padding:20px; text-align: center;">
      <h2>${{servicios.NumFor((TotRet/1000),2)}}K</h2>
      <div>Total Retirado</div>
    </div>
    <div class="col-5" style="background: rgba(255,255,255,0.3); position: relative;">
      <img src="assets/img/menos.png" style="height:48px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;">
    </div>
  </div>
</div>
<div class="col-md-2 EstRoj" style="cursor:pointer;" (click)="VerPorCob()" title="Ver usuarios con saldo por cobrar">
  <div class="row">
    <div class="col-7" style="padding:20px; text-align: center;">
      <h2>${{servicios.NumFor((TotCob/1000),2)}}K</h2>
      <div>Por cobrar</div>
    </div>
    <div class="col-5" style="background: rgba(255,255,255,0.3); position: relative;">
      <img src="assets/img/porcobrar.png" style="height:48px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;">
    </div>
  </div>
</div>
<div class="col-md-3 EstVer" *ngIf="servicios.UsuMat.Tipo == 'Admin'" >
  <div class="row">
    <div class="col-7" style="padding:20px; text-align: center;">
      <h2>${{servicios.NumFor((TotGan/1000),2)}}K</h2>
      <div>Ganado</div>
    </div>
    <div class="col-5" style="background: rgba(255,255,255,0.3); position: relative;">
      <img src="assets/img/dinero.png" style="height:48px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;">
    </div>
  </div>
</div>

<div class="col-md-12" style="height:400px; padding:10px; overflow:auto; border:0px solid #00f;">
  <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Detalle de Transacciones</h3></div>
  <!--<div style="width:100%; background-color:#04579E; color:#fff; text-align:center;"><h3>Detalle de Transacciones</h3></div>-->
  <table class="table table-hover table-striped table-bordered">
    <thead class="TabHeaMod">
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Tipo</th>
        <th scope="col">Transacción</th>
        <th scope="col">Descripción</th>
        <th scope="col" style="text-align:right;">Monto</th>
        <th scope="col" style="text-align:center;">Fecha Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!Trans"><td colspan="8" align="center" valign="middle"><img src="assets/img/giphy.gif" style="height:250px;"></td></tr>
      <tr *ngIf="Trans && Trans.length == 0"><td colspan="8" align="center" valign="middle" style="color:#856404">No existen registros</td></tr>

      <tr *ngFor="let tra of Trans" [ngStyle]="{'color':servicios.ColMon(tra.Monto)}">
        <td>{{tra.NomUsu}}</td>
        <td>{{tra.TipUsu}}</td>
        <td>{{tra.Transaccion}}</td>
        <td>{{tra.Descripcion}}</td>
        <td style="text-align:right;">${{servicios.NumFor(tra.Monto,2)}}</td>
        <td style="text-align:center;">{{servicios.ForFecHor(tra.FecHor)}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="PieMod">
  <table width="100%" cellpadding="5px;">
    <tr>
      <td width="20%" align="center" valign="middle"><span *ngIf="Trans && Trans.length != 0">{{DatRes.length}} Registros</span></td>
      <td width="20%" align="center" valign="middle">
        <table style="width:100%;">
          <tr>
            <td width="50%" align="center" valign="middle">
              <!--<img src="assets/img/opc.png" class="BotModPie" title="Opciones" data-toggle="modal" data-target=".bd-example-modal-lg">;-->
            </td>
            <td width="50%" align="center" valign="middle">
              <img src="assets/img/exc.png" class="BotModPie" title="Exportar" (click)="servicios.exportAsExcelFile(OJE,'Billetera')">
            </td>
          </tr>
        </table>
      </td>
      <td width="20%" align="center" valign="middle">
        <div class="input-group mb-3" style="margin-bottom:0px !important;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="InpDes">Desde</span>
          </div>
          <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="InpDes" [(ngModel)]="FecDes">
        </div>
      </td>
      <td width="20%" align="center" valign="middle">
        <div class="input-group mb-3" style="margin-bottom:0px !important;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="InpHas">Hasta</span>
          </div>
          <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="InpHas" [(ngModel)]="FecHas">
        </div>
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/bus.png" class="BotModPie" title="Buscar" (click)="ActBil()">
      </td>
    </tr>
  </table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width: 50% !important;" role="document">
    <div class="modal-content" style="height:550px;">
      <div class="TitMod">Opcones de {{DGM.Nombre}} <div style="float:right;"><a style="color:#000; cursor:pointer; margin-right:10px;" data-dismiss="modal"><strong>&times;</strong></a></div></div>
      <div class="container-fluid">
        <div class="row" style="height:200px !important;">
          <div class="col-md-6" style="height:100%; padding:10px; border:0px solid #f00;">
            <div style="width:100%; background-color:#04579E; color:#fff; text-align:center;"><h3>Abonos</h3></div>
            <table cellpadding="10" style="width:100%; height:80%; background-color:#f5f5f5;">
              <tr>
                <td>
                  <div class="form-group">
                    <label for="AboMin"><strong>Monto mínimo de Abono:<span style="color:#f00;">*</span></strong></label>
                    <input type="number" class="form-control" [(ngModel)]="AboMin" id="AboMin">
                  </div>
                </td>
              </tr>
            </table>
          </div>
          
          <div class="col-md-6" style="height:100%; padding:10px; border:0px solid #0f0;">
            <div style="width:100%; background-color:#04579E; color:#fff; text-align:center;"><h3>Retiros</h3></div>
            <table cellpadding="10" style="width:100%; height:80%; background-color:#f5f5f5;">
              <tr>
                <td>
                  
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row" style="height:200px !important;">
          <div class="col-md-6" style="height:100%; padding:10px; border:0px solid #00f;">
            <div style="width:100%; background-color:#04579E; color:#fff; text-align:center;"><h3>Por cobrar</h3></div>
            <table cellpadding="10" style="width:100%; height:80%; background-color:#f5f5f5;">
              <tr>
                <td>
                  
                </td>
              </tr>
            </table>
          </div>

          <div class="col-md-6" style="height:100%; padding:10px; border:0px solid #ff0;">
            <div style="width:100%; background-color:#04579E; color:#fff; text-align:center;"><h3>Ganado</h3></div>
            <table cellpadding="10" style="width:100%; height:80%; background-color:#f5f5f5;">
              <tr>
                <td>
                  
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row" style="height:75px !important;">
          <div class="col-md-12" style="height:100%; padding:10px; border:0px solid #00f;">
            <div class="PieMod">
              <table width="100%">
                <tr>
                  <td width="20%" align="center" valign="middle">
                  </td>
                  <td width="20%" align="center" valign="middle">
                  </td>
                  <td width="20%" align="center" valign="middle">
                  </td>
                  <td width="20%" align="center" valign="middle">
                  </td>
                  <td width="20%" align="center" valign="middle">
                    <img src="assets/img/ace.png" class="BotModPie" title="Guardar" (click)="GuaOpc();">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>