.EstAzu{
    margin:10px;
    padding:0px;
    background:#49b9e3;
    color:#fff;
    border-radius:5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);

    float: left;
}

.EstAma{
    margin:10px;
    padding:0px;
    background:#efcd67;
    color:#fff;
    border-radius:5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);

    float: left;
}

.EstRoj{
    margin:10px;
    padding:0px;
    background:#d55454;
    color:#fff;
    border-radius:5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);

    float: left;
}

.EstVer{
    margin:10px;
    padding:0px;
    background:#5bc689;
    color:#fff;
    border-radius:5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);

    float: left;
}