<div class="TitMod">Dashboard / <span style="font-size:18px">Resumen</span></div>
<div class="FilMod">
    <table width="100%" cellpadding="5px;">
        <tr>
        <td width="20%" align="center" valign="middle">
            <div class="input-group mb-3" style="margin-bottom:0px !important;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="InpDes">Desde</span>
            </div>
            <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="InpDes" [(ngModel)]="FecDes">
            </div>
        </td>
        <td width="20%" align="center" valign="middle">
            <div class="input-group mb-3" style="margin-bottom:0px !important;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="InpHas">Hasta</span>
            </div>
            <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="InpHas" [(ngModel)]="FecHas">
            </div>
        </td>
        <td width="20%" align="center" valign="middle">
            <!--<img src="assets/img/exc.png" class="BotModFil" title="Exportar" (click)="CarLisExp()">-->
        </td>
        <td width="20%" align="center" valign="middle">
            <img src="assets/img/bus.png" class="BotModFil" title="Buscar" (click)="ActRes()">
        </td>
        </tr>
    </table>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-6" (click)="VerRes1()">
            <div class="card-box bg-1">
                <div class="inner">
                    <h3> {{TotNueCli}} </h3>
                    <p style="color:#000; opacity:0.5;"> Nuevos Clientes </p>
                </div>
                <div class="icon">
                    <img src="assets/img/clineg.png" style="height:100px; opacity:0.3;">
                </div>
                <p class="card-box-footer">Ver más <img src="assets/img/ade.png" style="height:25px; opacity:1;"></p>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6" (click)="VerRes2()">
            <div class="card-box bg-2">
                <div class="inner">
                    <h3> {{TotNueCon}} </h3>
                    <p style="color:#000; opacity:0.5;"> Nuevos Conductores </p>
                </div>
                <div class="icon">
                    <img src="assets/img/conneg.png" style="height:100px; opacity:0.3;">
                </div>
                <p class="card-box-footer">Ver más <img src="assets/img/ade.png" style="height:25px; opacity:1;"></p>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6" (click)="VerRes3()">
            <div class="card-box bg-3">
                <div class="inner">
                    <h3> {{TotVia}} </h3>
                    <p style="color:#000; opacity:0.5;"> Viajes Terminados </p>
                </div>
                <div class="icon">
                    <img src="assets/img/rutneg.png" style="height:100px; opacity:0.3;">
                </div>
                <p class="card-box-footer">Ver más <img src="assets/img/ade.png" style="height:25px; opacity:1;"></p>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6" (click)="VerRes4()">
            <div class="card-box bg-5">
                <div class="inner">
                    <h3> {{servicios.Pais.SimMon}}{{servicios.NumFor(TotGan,2)}} </h3>
                    <p style="color:#000; opacity:0.5;"> Ganancias </p>
                </div>
                <div class="icon">
                    <img src="assets/img/dinneg.png" style="height:100px; opacity:0.3;">
                </div>
                <p class="card-box-footer">Ver más <img src="assets/img/ade.png" style="height:25px; opacity:1;"></p>
            </div>
        </div>
    </div>
</div>