<div class="TitMod">Servicios / <span style="font-size:18px">Mensajes Emergentes</span></div>
<div class="ConMod">
  <div class="card-deck mb-2 text-center" style="margin:2%;">
    <div class="card mb-12 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Nuevo Mensaje Emergente</h4>
      </div>
      <div class="card-body" style="text-align:left;">
        <table style="width:100%; height:90%;" cellpadding="10">
          <tr>
            <td colspan="1">
              <div class="form-group">
                <label for="ForPag"><strong>Mensaje para<span style="color:#f00;">*</span></strong></label>
                <select class="form-control" [(ngModel)]="MemPar" id="MemPar" placeholder="Mensaje para">
                  <option value="">Seleccione ...</option>
                  <option value="Clientes">Clientes</option>
                  <option value="Conductores">Conductores</option>
                  <option value="Todos">Todos</option>
                </select>
              </div>
            </td>

            <td colspan="2">
              <div class="form-group">
                <label for="Titulo"><strong>Titulo<span style="color:#f00;">*</span></strong></label>
                <input type="text" class="form-control" [(ngModel)]="Titulo" id="Titulo" placeholder="Por favor escriba el Titulo del mensaje">
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="form-group">
                <label for="Mensaje"><strong>Mensaje<span style="color:#f00;">*</span></strong></label>
                <input type="text" class="form-control" [(ngModel)]="Mensaje" id="Mensaje" placeholder="Por favor escriba el Contenido del mensaje">
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="text-align:right;">
              <button (click)="Enviar();" type="button" class="btn btn-primary">Enviar Mensaje Emergente</button>
            </td>
          </tr>
        </table>
      </div>
  </div>
</div>