<div class="TitMod">Opciones / <span style="font-size:18px">Ayuda</span></div>
<div class="ConMod">
    <div class="card-deck mb-12 text-center" style="margin:2%;">
        <div  class="card mb-6 box-shadow">
            <div class="card-header">
                Preguntas Frecuentes
            </div>
            <div class="card-body">
              <label data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-warning btn-sm" style="margin:0;">
                <span style="color:#000;"><strong>Continuar</strong></span>
              </label>
            </div>
        </div>

        <div  class="card mb-6 box-shadow">
            <div class="card-header">
                Términos y Condiciones
            </div>
            <div class="card-body">
              <label class="btn btn-warning btn-sm" style="margin:0;">
                <a href="{{servicios.ApiUrl}}doc/tercon.pdf" target="_blank">
                    <span style="color:#000;"><strong>Continuar</strong></span>
                </a>
              </label>
            </div>
        </div>
    </div>

    <div class="card-deck mb-12 text-center" style="margin:2%;">
        <div  class="card mb-6 box-shadow">
            <div class="card-header">
                Políticas de Privacidad
            </div>
            <div class="card-body">
                <label class="btn btn-warning btn-sm" style="margin:0;">
                    <a href="{{servicios.ApiUrl}}doc/polpri.pdf" target="_blank">
                        <span style="color:#000;"><strong>Continuar</strong></span>
                    </a>
                </label>
            </div>
        </div>

        <div  class="card mb-6 box-shadow">
            <div class="card-header">
                Contacto
            </div>
            <div class="card-body">
                <label class="btn btn-warning btn-sm" style="margin:0;">
                    <a href="mailto:soporte@travelct.com" target="_blank">
                        <span style="color:#000;"><strong>Continuar</strong></span>
                    </a>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:40% !important;" role="document">
      <div class="modal-content" style="height:450px;">
        <div class="TitMod"><span style="opacity:0.7;">Preguntas Frecuentes</span><div style="float:right;"><a style="color:#fff; cursor:pointer; margin-right:10px;" data-dismiss="modal" #closeAddExpenseModal><strong>&times;</strong></a></div></div>
        <div class="container-fluid">
          <div class="row" style="height:400px !important;">
            <div class="col-md-12" style="height:100%; padding:10px; border:0px solid #f00;">
              <table style="width:100%; height:100%; background-color:#f5f5f5; text-align: center;" cellpadding="10px;">
                <tr style="vertical-align: top; text-align: left;">
                  <td style="width: 30%; border: 1px solid #ddd;">
                    <p style="font-weight: bold; border-bottom: 1px solid #ddd;">TEMAS <strong style="color:#dca12d; font-size:xx-large; vertical-align: sub;">></strong></p>
                    <ul>
                        <li (click)="SelTem(tem)" style="cursor: pointer; border-radius:5px;" *ngFor="let tem of LisTem" ><strong style="color:#dca12d;">{{tem.Tema}}</strong></li>
                    </ul>
                  </td>
                  <td style="width: 30%; border: 1px solid #ddd;">
                    <p style="font-weight: bold; border-bottom: 1px solid #ddd;">PREGUNTAS <span *ngIf="TemSel != ''" style="opacity:0.7;">| {{TemSel}}</span> <strong style="color:#dca12d; font-size:xx-large; vertical-align: sub;">></strong></p>
                    <ul>
                        <li (click)="SelPre(pre)" style="cursor: pointer; border-radius:5px;" *ngFor="let pre of LisPre" ><strong style="color:#dca12d;">{{pre.Pregunta}}</strong></li>
                    </ul>
                  </td>
                  <td style="width: 40%; border: 1px solid #ddd;">
                    <p style="font-weight: bold; border-bottom: 1px solid #ddd;"><span *ngIf="PreSel != ''" style="opacity:0.7;">{{PreSel}} | </span>RESPUESTA<strong style="color:#dca12d; font-size:xx-large; vertical-align: sub;"> </strong></p>
                    <p>{{ResSel}}</p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>