<div class="TitMod">Servicios / Billetera / <span style="font-size:18px">{{DGM.Nombre}}</span></div>
<div class="ConMod">
  <table class="table table-hover table-striped table-bordered">

    <thead class="TabHeaMod">
      <tr>
        <th *ngIf="DGM.OpcFil == 'Si'" scope="col" style="background-color:#fff; border: 1px solid #fff;"></th>
        <th scope="col" style="text-align:center;">Nº</th>
        <th *ngFor="let ce of DGM.CamMod" [ngStyle]="{'text-align':servicios.AliCamMod(ce.Tip)}" scope="col">{{ce.Tit}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="!DatRes"><td colspan="100%" align="center" valign="middle"><img src="assets/img/giphy.gif" style="height:250px;"></td></tr>
      <tr *ngIf="DatRes && DatRes.length == 0"><td colspan="100%" align="center" valign="middle" style="color:#856404">No existen registros</td></tr>

      <tr *ngFor="let dat of DatRes">
        <td *ngIf="DGM.OpcFil == 'Si'" scope="row" style="text-align:center; vertical-align:middle;">
          <img src="assets/img/ace.png" class="BotMod" title="Aceptar" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="Detalles(dat)">
          <img src="assets/img/can.png" class="BotMod" title="Rechazar" data-toggle="modal" data-target=".bd-example-modal-lg2" (click)="Detalles(dat)">
        </td>
        <td style="text-align:center;">{{dat.NRegistro}}</td>
        <td *ngFor="let cd of DGM.CamMod" [ngStyle]="{'text-align':servicios.AliCamMod(cd.Tip)}">{{servicios.ForCamMod(dat[cd.Cmp],cd)}}</td>
      </tr>
    </tbody>

  </table>
</div>
<div class="PieMod">
  <table width="100%">
    <tr>
      <td width="20%" align="center" valign="middle"><span *ngIf="DatRes && DatRes.length != 0">{{DatRes.length}} Registros</span></td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/vol.png" class="BotModPie" title="Volver" (click)="Volver()">
      </td>
      <td width="20%" align="center" valign="middle">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/ref.png" class="BotModPie" title="Refrescar" (click)="Refrescar()" *ngIf="DonBus != ''">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/bus.png" class="BotModPie" title="Buscar" (click)="EjeFun('Buscar','')">
      </td>
    </tr>
  </table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width: 50% !important;" role="document">
    <div class="modal-content" style="height:550px;">
      <div class="TitMod" *ngIf="DetDat">Aprobación de solicitud de retiro Nº: <span style="font-size:18px">{{DetDat.NRegistro}}</span> <div style="float:right;"><a style="color:#000; cursor:pointer; margin-right:10px;" data-dismiss="modal" #closeAddExpenseModal><strong>&times;</strong></a></div></div>
      <div class="container-fluid">
        <div class="row" style="height:250px !important;">
          
          <div *ngIf="DetDat" class="col-md-5" style="height:100%; padding:10px; border:0px solid #f00;">
            <div style="width:100%; background-color:#04579E; color:#fff; text-align:center;"><h3>{{DetDat.TipUsu}}</h3></div>
            <table style="width:100%; height:80%; background-color:#f5f5f5;">
              <tr>
                <td rowspan="3" style="text-align:center; vertical-align:middle;">
                  <img *ngIf="DetDat.FotUsu" src="{{servicios.ApiUrl}}img/usu/{{DetDat.FotUsu}}" style="height:100px; width:100px; border-radius:50%; margin-right:5px;">
                </td>
                <td ><strong style="opacity: 0.7;">Nombre: </strong><span>{{DetDat.DesUsu}}</span></td>
              </tr>
              <tr>
                <td ><strong style="opacity: 0.7;">Telefono: </strong><span>{{DetDat.TelUsu}}</span></td>
              </tr>
              <tr>
                <td ><strong style="opacity: 0.7;">Email: </strong><span>{{DetDat.EmaUsu}}</span></td>
              </tr>
            </table>
          </div>
          
          <div *ngIf="DetDat" class="col-md-7" style="height:100%; padding:10px; border:0px solid #0f0;">
            <div style="width:100%; background-color:#04579E; color:#fff; text-align:center;"><h3>Cuenta bancaria</h3></div>
            <table style="width:100%; height:80%; background-color:#f5f5f5;" cellpadding="10">
              <tr>
                <td>
                  <div class="form-group">
                    <label for="CueUsu"><strong>Por favor seleccione una cuenta bancaria<span style="color:#f00;">*</span></strong></label>
                    <select class="form-control" [(ngModel)]="CueUsu" id="CueUsu">
                      <option *ngFor="let opt of LisCue" value="{{opt.Banco+' '+opt.NumCue+' '+opt.TitCue}}">{{opt.Banco+" "+opt.NumCue+" "+opt.TitCue}}</option>
                    </select>
                  </div>
                </td>
              </tr>
            </table>
          </div>

        </div>

        <div class="row" style="height:250px !important;">

          <div *ngIf="DetDat" class="col-md-12" style="height:100%; padding:10px; border:0px solid #00f;">
            <div style="width:100%; background-color:#04579E; color:#fff; text-align:center;"><h3>Transaccion</h3></div>
            <table style="width:100%; height:40%; background-color:#f5f5f5;" cellpadding="10">
              <tr>
                <td style="width:33%">
                  <div class="form-group">
                    <label for="Tipo"><strong>Tipo<span style="color:#f00;">*</span></strong></label>
                    <select class="form-control" [(ngModel)]="Tipo" id="Tipo">
                      <option value="Deposito">Deposito</option>
                      <option value="Transferencia">Transferencia</option>
                    </select>
                  </div>
                </td>
                <td style="width:33%">
                  <div class="form-group">
                    <label for="REF"><strong>Número de referencia<span style="color:#f00;">*</span></strong></label>
                    <input type="text" class="form-control" [(ngModel)]="REF" id="REF">
                  </div>
                </td>
                <td style="width:33%">
                  <div class="form-group">
                    <label for="Fecha"><strong>Fecha de transacción<span style="color:#f00;">*</span></strong></label>
                    <input type="date" class="form-control" [(ngModel)]="Fecha" id="Fecha">
                  </div>
                </td>
              </tr>
            </table>
            <div class="PieMod">
              <table width="100%">
                <tr>
                  <td width="20%" align="center" valign="middle">
                  </td>
                  <td width="20%" align="center" valign="middle">
                  </td>
                  <td width="20%" align="center" valign="middle">
                      <img src="assets/img/ace.png" class="BotModPie" title="Aprobar solicitud de retiro" (click)="Aceptar(DetDat)">
                  </td>
                  <td width="20%" align="center" valign="middle">
                  </td>
                  <td width="20%" align="center" valign="middle">
                  </td>
                </tr>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width: 50% !important;" role="document">
    <div class="modal-content" style="height:400px;">
      <div class="TitMod" *ngIf="DetDat">Rechazo de solicitud de retiro Nº: <span style="font-size:18px">{{DetDat.NRegistro}}</span> <div style="float:right;"><a style="color:#000; cursor:pointer; margin-right:10px;" data-dismiss="modal" #closeAddExpenseModal2><strong>&times;</strong></a></div></div>
      <div class="container-fluid">
        <div class="row" style="height:250px !important;">
          
          <div *ngIf="DetDat" class="col-md-6" style="height:100%; padding:10px; border:0px solid #f00;">
            <div style="width:100%; background-color:#04579E; color:#fff; text-align:center;"><h3>{{DetDat.TipUsu}}</h3></div>
            <table style="width:100%; height:80%; background-color:#f5f5f5;">
              <tr>
                <td rowspan="3" style="text-align:center; vertical-align:middle;">
                  <img *ngIf="DetDat.FotUsu" src="{{servicios.ApiUrl}}img/usu/{{DetDat.FotUsu}}" style="height:100px; width:100px; border-radius:50%; margin-right:5px;">
                </td>
                <td ><strong style="opacity: 0.7;">Nombre: </strong><span>{{DetDat.DesUsu}}</span></td>
              </tr>
              <tr>
                <td ><strong style="opacity: 0.7;">Telefono: </strong><span>{{DetDat.TelUsu}}</span></td>
              </tr>
              <tr>
                <td ><strong style="opacity: 0.7;">Email: </strong><span>{{DetDat.EmaUsu}}</span></td>
              </tr>
            </table>
          </div>
          
          <div *ngIf="DetDat" class="col-md-6" style="height:100%; padding:10px; border:0px solid #0f0;">
            <div style="width:100%; background-color:#04579E; color:#fff; text-align:center;"><h3>Cuenta bancaria</h3></div>
            <table style="width:100%; height:80%; background-color:#f5f5f5;" cellpadding="10">
              <tr>
                <td>
                  <div class="form-group">
                    <label for="Razon"><strong>Por favor indique la razón del rechazo<span style="color:#f00;">*</span></strong></label>
                    <input type="text" class="form-control" [(ngModel)]="Razon" id="Razon">
                  </div>
                </td>
              </tr>
            </table>
          </div>

        </div>

        <div class="row" style="height:250px !important;">

          <div *ngIf="DetDat" class="col-md-12" style="height:100%; padding:10px; border:0px solid #00f;">
            <div class="PieMod">
              <table width="100%">
                <tr>
                  <td width="20%" align="center" valign="middle">
                  </td>
                  <td width="20%" align="center" valign="middle">
                  </td>
                  <td width="20%" align="center" valign="middle">
                      <img src="assets/img/ace.png" class="BotModPie" title="Aprobar solicitud de retiro" (click)="Rechazar(DetDat)">
                  </td>
                  <td width="20%" align="center" valign="middle">
                  </td>
                  <td width="20%" align="center" valign="middle">
                  </td>
                </tr>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>