<div class="TitMod">Servicios / <span style="font-size:18px">{{DGM.Nombre}}</span></div>
<div class="ConMod">
  <table class="table table-hover table-striped table-bordered">
    <thead class="TabHeaMod">
      <tr>
        <th *ngIf="DGM.OpcFil == 'Si'" scope="col" style="background-color:#fff; border: 1px solid #fff;"></th>
        <th scope="col" style="text-align:center;">Nº</th>
        <th *ngFor="let ce of DGM.CamMod" [ngStyle]="{'text-align':servicios.AliCamMod(ce.Tip)}" scope="col">{{ce.Tit}}</th>
      </tr>
    </thead>

    <tbody class="TabBodMod">
      <tr *ngIf="!DatRes"><td colspan="100%" align="center" valign="middle"><mat-spinner style="margin: 0 auto;" [diameter]="50"></mat-spinner></td></tr>
      <tr *ngIf="DatRes && DatRes.length == 0"><td colspan="100%" align="center" valign="middle" style="color:#856404">No existen registros</td></tr>

      <tr *ngFor="let dat of DatRes">
        <td *ngIf="DGM.OpcFil == 'Si'" scope="row" style="text-align:center; vertical-align:middle; border-left-width:10px;" [ngStyle]="{'border-left-color':servicios.ColEstVia(dat.Estatus)}">
            <img src="assets/img/ojo.png" class="BotMod" title="Ver detalles" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="Detalles(dat)">
            <img *ngIf="dat.TieEnc > 0" src="assets/img/pro.png" class="BotMod" title="Ver encuesta" data-toggle="modal" data-target=".bd-example-modal-lg2" (click)="VerEnc(dat)">
        </td>
        <td style="text-align:center;">{{dat.NRegistro}}</td>
        <td *ngFor="let cd of DGM.CamMod" [ngStyle]="{'text-align':servicios.AliCamMod(cd.Tip)}">
            <span *ngIf="cd.Tip != 'Imagen'">{{servicios.ForCamMod(dat[cd.Cmp],cd)}}</span>
            <a target="_blank" href="{{servicios.ApiUrl}}img/{{cd.Car}}/{{servicios.ForCamMod(dat[cd.Cmp],cd)}}"><img *ngIf="cd.Tip == 'Imagen'" src="{{servicios.ApiUrl}}img/{{cd.Car}}/{{servicios.ForCamMod(dat[cd.Cmp],cd)}}" style="height:100px; border-radius:10px;"></a>
        </td>
      </tr>
    </tbody>

  </table>
</div>
<div class="PieMod">
  <table width="100%">
    <tr>
      <td width="20%" align="center" valign="middle"><span *ngIf="DatRes && DatRes.length != 0">{{DatRes.length}} Registros</span></td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/ref.png" class="BotModPie" title="Refrescar" (click)="Refrescar()" *ngIf="DonBus != ''">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/bus.png" class="BotModPie" title="Buscar" (click)="EjeFun('Buscar','')">
      </td>
      <td width="20%" align="center" valign="middle">
        <img src="assets/img/exc.png" class="BotModPie" title="Exportar" (click)="servicios.exportAsExcelFile(OJE,DGM.Nombre)">
      </td>
      <td width="20%" align="center" valign="middle">
        <!--<img src="assets/img/agr.png" class="BotModPie" title="Agregar" (click)="EjeFun('Agregar','')">-->
      </td>
    </tr>
  </table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width: 70% !important;" role="document">
      <div class="modal-content" style="height:600px;">
        <div class="TitMod" *ngIf="DetDat">Detalles del viaje Nº: <span style="font-size:18px">{{DetDat.NRegistro}}</span> <div style="float:right;"><a style="color:#000; cursor:pointer; margin-right:10px;" data-dismiss="modal"><strong>&times;</strong></a></div></div>
        <div class="container-fluid">
          <div class="row" style="height:300px !important;">
            
            <div class="col-md-6" style="height:100%; padding:10px; border:0px solid #f00;">
              <div #map id="map"></div>
            </div>
            
            <div *ngIf="DetDat" class="col-md-6" style="height:100%; padding:10px; border:0px solid #0f0;">
              <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Viaje</h3></div>
              <!--<div style="width:100%; background-color:#92d050; color:#fff; text-align:center;"><h3>Viaje</h3></div>-->
              <table style="width:100%; height:80%; background-color:#f5f5f5;" cellpadding="5px;">
                <tr>
                  <td colspan="3" ><strong>Origen: </strong><br><span>{{DetDat.OriDes}}</span></td>
                </tr>
                <tr>
                  <td colspan="3" ><strong>Destino: </strong><br><span>{{DetDat.DesDes}}</span></td>
                </tr>
                <tr>
                  <td style="text-align:center;"><strong>Recorrido: </strong><br><span>{{servicios.NumFor(DetDat.Recorrido,0)}}Mts</span></td>
                  <td style="text-align:center;"><strong>Precio: </strong><br><span>${{servicios.NumFor(DetDat.Precio,2)}}</span></td>
                  <td style="text-align:center;"><strong>Pago: </strong><br><span>{{DetDat.ForPag}}</span></td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align:center;"><strong>Solicitado: </strong><br><span>{{servicios.ForFecHorPeq(DetDat.FecHorSol)}}</span></td>
                  <td style="text-align:center;"><strong>Estatus: </strong><br><span [ngStyle]="{'color':servicios.ColEstVia(DetDat.Estatus)}">{{DetDat.Estatus}}</span></td>
                </tr>
              </table>
            </div>
  
          </div>
  
          <div class="row" style="height:250px !important;">
  
            <div *ngIf="DetDat" class="col-md-6" style="height:100%; padding:10px; border:0px solid #00f;">
              <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Cliente</h3></div>
              <!--<div style="width:100%; background-color:#92d050; color:#fff; text-align:center;"><h3>Cliente</h3></div>-->
              <table style="width:100%; height:80%; background-color:#f5f5f5;">
                <tr>
                  <td rowspan="4" style="text-align:center; vertical-align:middle;">
                    <img *ngIf="DetDat.FotCli" src="{{servicios.ApiUrl}}img/usu/{{DetDat.FotCli}}" style="height:100px; width:100px; border-radius:50%; margin-right:5px;">
                  </td>
                  <td ><strong>Nombre: </strong><span>{{DetDat.DesCli}}</span></td>
                </tr>
                <tr>
                  <td ><strong>Telefono: </strong><span>{{DetDat.TelCli}}</span></td>
                </tr>
                <tr>
                  <td ><strong>Email: </strong><span>{{DetDat.EmaCli}}</span></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;"><strong>Puntos obtenidos: </strong><span>{{DetDat.PunCalCli}}</span></td>
                </tr>
              </table>
            </div>
  
            <div *ngIf="DetDat" class="col-md-6" style="height:100%; padding:10px; border:0px solid #ff0;">
              <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Conductor</h3></div>
              <!--<div style="width:100%; background-color:#92d050; color:#fff; text-align:center;"><h3>Conductor</h3></div>-->
              <table style="width:100%; height:80%; background-color:#f5f5f5;">
                <tr>
                  <td rowspan="4" style="text-align:center; vertical-align:middle;">
                    <img *ngIf="DetDat.FotCho" src="{{servicios.ApiUrl}}img/usu/{{DetDat.FotCho}}" style="height:100px; width:100px; border-radius:50%; margin-right:5px;">
                  </td>
                  <td ><strong>Nombre: </strong><span>{{DetDat.DesCho}}</span></td>
                </tr>
                <tr>
                  <td ><strong>Telefono: </strong><span>{{DetDat.TelCho}}</span></td>
                </tr>
                <tr>
                  <td ><strong>Email: </strong><span>{{DetDat.EmaCho}}</span></td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align:center;"><strong>Puntos obtenidos: </strong><span>{{DetDat.PunCalCho}}</span></td>
                </tr>
              </table>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg2 modal-dialog-centered" style="min-width: 70% !important;" role="document">
      <div class="modal-content" style="height:600px;">
        <div class="TitMod" *ngIf="DetDat">Encuesta del viaje Nº: <span style="font-size:18px">{{DetDat.NRegistro}}</span> <div style="float:right;"><a style="color:#000; cursor:pointer; margin-right:10px;" data-dismiss="modal"><strong>&times;</strong></a></div></div>
        <div class="container-fluid">
          <div class="row" style="height:300px !important;">
            
            <div *ngIf="DetDat" class="col-md-6" style="height:100%; padding:10px; border:0px solid #f00;">
              <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Encuesta</h3></div>
              <table style="width:100%; height:80%; background-color:#f5f5f5;" cellpadding="5px;">
                <tr *ngFor="let pre of DetEnc">
                  <td><span style="opacity:0.7; margin:5px; font-size:large; font-weight:bolder;">*</span> <strong>{{pre.Pregunta}}: </strong><span>{{pre.Respuesta}}</span></td>
                </tr>
              </table>
            </div>
            
            <div *ngIf="DetDat" class="col-md-6" style="height:100%; padding:10px; border:0px solid #0f0;">
              <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Viaje</h3></div>
              <table style="width:100%; height:80%; background-color:#f5f5f5;" cellpadding="5px;">
                <tr>
                  <td colspan="3" ><strong>Origen: </strong><br><span>{{DetDat.OriDes}}</span></td>
                </tr>
                <tr>
                  <td colspan="3" ><strong>Destino: </strong><br><span>{{DetDat.DesDes}}</span></td>
                </tr>
                <tr>
                  <td style="text-align:center;"><strong>Recorrido: </strong><br><span>{{servicios.NumFor(DetDat.Recorrido,0)}}Mts</span></td>
                  <td style="text-align:center;"><strong>Precio: </strong><br><span>${{servicios.NumFor(DetDat.Precio,2)}}</span></td>
                  <td style="text-align:center;"><strong>Pago: </strong><br><span>{{DetDat.ForPag}}</span></td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align:center;"><strong>Solicitado: </strong><br><span>{{servicios.ForFecHorPeq(DetDat.FecHorSol)}}</span></td>
                  <td style="text-align:center;"><strong>Estatus: </strong><br><span [ngStyle]="{'color':servicios.ColEstVia(DetDat.Estatus)}">{{DetDat.Estatus}}</span></td>
                </tr>
              </table>
            </div>
  
          </div>
  
          <div class="row" style="height:250px !important;">
  
            <div *ngIf="DetDat" class="col-md-6" style="height:100%; padding:10px; border:0px solid #00f;">
              <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Cliente</h3></div>
              <!--<div style="width:100%; background-color:#92d050; color:#fff; text-align:center;"><h3>Cliente</h3></div>-->
              <table style="width:100%; height:80%; background-color:#f5f5f5;">
                <tr>
                  <td rowspan="4" style="text-align:center; vertical-align:middle;">
                    <img *ngIf="DetDat.FotCli" src="{{servicios.ApiUrl}}img/usu/{{DetDat.FotCli}}" style="height:100px; width:100px; border-radius:50%; margin-right:5px;">
                  </td>
                  <td ><strong>Nombre: </strong><span>{{DetDat.DesCli}}</span></td>
                </tr>
                <tr>
                  <td ><strong>Telefono: </strong><span>{{DetDat.TelCli}}</span></td>
                </tr>
                <tr>
                  <td ><strong>Email: </strong><span>{{DetDat.EmaCli}}</span></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;"><strong>Puntos obtenidos: </strong><span>{{DetDat.PunCalCli}}</span></td>
                </tr>
              </table>
            </div>
  
            <div *ngIf="DetDat" class="col-md-6" style="height:100%; padding:10px; border:0px solid #ff0;">
              <div class="card-header" style="width:100%; text-align:center; padding:0px;"><h3>Conductor</h3></div>
              <!--<div style="width:100%; background-color:#92d050; color:#fff; text-align:center;"><h3>Conductor</h3></div>-->
              <table style="width:100%; height:80%; background-color:#f5f5f5;">
                <tr>
                  <td rowspan="4" style="text-align:center; vertical-align:middle;">
                    <img *ngIf="DetDat.FotCho" src="{{servicios.ApiUrl}}img/usu/{{DetDat.FotCho}}" style="height:100px; width:100px; border-radius:50%; margin-right:5px;">
                  </td>
                  <td ><strong>Nombre: </strong><span>{{DetDat.DesCho}}</span></td>
                </tr>
                <tr>
                  <td ><strong>Telefono: </strong><span>{{DetDat.TelCho}}</span></td>
                </tr>
                <tr>
                  <td ><strong>Email: </strong><span>{{DetDat.EmaCho}}</span></td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align:center;"><strong>Puntos obtenidos: </strong><span>{{DetDat.PunCalCho}}</span></td>
                </tr>
              </table>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>