/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: whitesmoke;
}

@font-face{
    font-family: Nasalization Rg;
  src: url('./assets/font/nasalization-rg.otf');
}
*{font-family: 'Nasalization Rg' !important;}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


//$ColPri: #6a050c;
$ColPri: #009aff;
$ColSeg: #e3b649;
$ColSuc: #2dd36f;
$ColErr: #eb445a;
$ColWar: #ffc409;
$ColBot: #268e00;

$ColPriTexLig: #f5f5f5;
$ColPriTexMed: #a5a5a5;
$ColPriTexDar: #5f5f5f;

.mat-progress-bar-fill::after {
    background-color: $ColPri;
}
.mat-progress-bar-buffer{
    background: $ColPriTexLig;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: $ColPri;
}

.cdk-overlay-container {
    z-index: 99999999999999; 
}

.logoBar {
    content:url('./assets/img/logo.png');
    height: 64px;
    margin-right: 10px;
}

.card-header{
    background-color: $ColSeg !important;
    color: $ColPriTexLig;

    h1{margin: 0px;}
    h3{margin: 0px;}
}

.btn-primary{
    background-color: $ColBot !important;
    border-color: $ColBot !important;
    color: ColPriTexLig !important;
}

.snackbar-normal {
    background: rgba($ColPri,0.7);
    color: $ColPriTexLig;
    font-weight: bold;
}
.snackbar-importante {
    background: rgba($ColSeg,0.7);
    color: $ColPriTexLig;
    font-weight: bold;
}
.snackbar-funciono {
    background: rgba($ColSuc,0.7);
    color: $ColPriTexLig;
    font-weight: bold;
}
.snackbar-error {
    background: rgba($ColErr,0.7);
    color: $ColPriTexLig;
    font-weight: bold;
}
.snackbar-advertencia {
    background: rgba($ColWar,0.7);
    color: $ColPriTexDar;
    font-weight: bold;
}


///////////////////////////////////Home/////////////////////////////////////////////////
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #303d44;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: $ColPriTexMed;
    display: block;
    cursor: pointer;
    transition: 0.3s;

    width: 202px;
}

.sidenav a:hover {
    color: $ColPriTexLig;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
    margin-left: 250px;
}

#topbar {
    min-width:600px;
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 250px;
    background-color: $ColPri;
    color: $ColPriTexLig;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.mat-expansion-panel{
    background-color:#516672 !important;
    border-radius:0 !important;
}
.mat-expansion-panel-header{
    background-color:#465963 !important;
}
.mat-panel-title{
    color:$ColPriTexLig !important;
}

.H1TM{
    color: $ColPriTexLig !important;
    margin: 0px !important;
}
///////////////////////////////////Home/////////////////////////////////////////////////

///////////////////////////////////Modulo///////////////////////////////////////////////
.TitMod{
    width:100%;
    min-width:600px;
    background: #f5f5f5;
    padding:10px;
    
    font-size:20px;
    font-weight: bold;
    color:#777;
    
    box-shadow: 0px 3px 10px rgba(100,100,100,0.5);
}

.ConMod{
    width:98%;
    min-width:600px;
    margin:1%;
    height:500px;
    overflow:auto;

    border:0px solid #f00;
}

.ConModFor{
    width:98%;
    min-width:600px;
    margin:1%;
    height:500px;

    border:0px solid #f00;
}

.ConModForTab{
    width:100%;
}

.ConModForTabTd{
    padding: 10px;
}

.PieMod{
    width:98%;
    min-width:600px;
    
    margin:1%;
    padding:10px;

    background: #f5f5f5;

    border-radius:10px;
    box-shadow: 3px 3px 10px rgba(100,100,100,0.5);
}

.BotModPie{
    height:48px;
    cursor:pointer;

    transition: all 0.2s ease;
}
.BotModPie:hover{
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.7));
}

.TabHeaMod{
    background-color: $ColSeg;
    color: $ColPriTexLig;
    //font-weight: bolder;
    font-size: large;
}
.TabBodMod{
    color: $ColPriTexDar !important;
}

.BotMod{
    height:24px;
    cursor:pointer;
    margin:5px;

    transition: all 0.2s ease;
}
.BotMod:hover{
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.7));
}

.FilMod{
    width:98%;
    min-width:600px;
    
    margin:1%;
    padding:10px;

    background: #f5f5f5;

    border-radius:10px;
    box-shadow: 3px 3px 10px rgba(100,100,100,0.5);
}

.BotModFil{
    height:48px;
    cursor:pointer;

    transition: all 0.2s ease;
}
.BotModFil:hover{
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.7));
}
///////////////////////////////////Modulo///////////////////////////////////////////////

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
