<div id="topbar">
    <table style="width: 100%;">
        <tr>
            <td style="width:80%;">
                <span (click)="TogNav()" style="font-size:30px;cursor:pointer"><img class="logoBar">{{servicios.App.Nombre}} {{servicios.UsuMat.Tipo}}</span>
            </td>
            <td style="text-align: center;">
                <span (click)="VerNot()" [matBadgeHidden]="HidBagNot" matBadge="{{servicios.DatNot.Total.length}}" matBadgeOverlap="true" matBadgeColor="warn"><img src="assets/img/not.png" title="Ver notificaciones" style="height:32px; cursor: pointer;"></span>
            </td>
        </tr>
    </table>
</div>
<div id="mySidenav" class="sidenav">
    <!--<a href="javascript:void(0)" class="closebtn" (click)="TogNav()">&times;</a>-->
    <div style="width:250px; height:101px; overflow:hidden; padding:10px; color:#f9f9f9; border-bottom:0px solid #f00;">
        <table>
            <tr>
                <td rowspan="1">
                    <img *ngIf="servicios.UsuMat.FotPer" src="{{servicios.ApiUrl}}img/usu/{{servicios.UsuMat.FotPer}}" style="height:75px; width:75px; border-radius:50%; margin-right:5px;">
                </td>
                <td>
                    <h3 style="margin:0px;">{{servicios.UsuMat.Nombre}} {{servicios.UsuMat.Apellido}}</h3>
                    <span style="opacity: 0.7;">{{servicios.UsuMat.Tipo}}</span>
                </td>
            </tr>
        </table>
    </div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1 class="H1TM">Dashboard</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a (click)="VerDashMap()">Mapa</a>
            <a (click)="VerDashGra()">Gráficos</a>
            <a (click)="VerDashRes()">Resumen</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1 class="H1TM">Servicios</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a (click)="VerSerVia()">Viajes</a>
            <a (click)="VerSerTar()">Tarifas</a>

            <a (click)="VerBill()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">Billetera</a>
            <a (click)="VerSolAbo()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">&nbsp;&nbsp;&nbsp;&nbsp;· Abonos</a>
            <a (click)="VerSolRet()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">&nbsp;&nbsp;&nbsp;&nbsp;· Retiros</a>

            <!--<a (click)="VerConNue()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">Nuevos Conductores</a>-->

            <a (click)="VerSerPub()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">Publicidad</a>

            <a (click)="VerSerMen()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">Mensajes Emergentes</a>
            <a (click)="VerSerNot()">Notificaciones</a>
            <!--
            <a (click)="VerImpuestos()" *ngIf="UsuMat.Tipo == 'Admin'">Impuestos</a>
            <a (click)="VerSolVia()" *ngIf="UsuMat.Tipo == 'Vendedor'">Solicitar viaje</a>
            -->
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1 class="H1TM">Conductores</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a (click)="VerSerDoc()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">Nuevos</a>
            <a (click)="VerDocReq()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">Documentos Requeridos</a>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1 class="H1TM">Datos</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a (click)="VerDatEst()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">Estaciones</a>
            <a (click)="VerDatEnc()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">Encuesta</a>
            <a (click)="VerDatPar()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">Parámetros</a>

        </mat-expansion-panel>

        <!--
        <mat-expansion-panel *ngIf="UsuMat.Tipo == 'Admin'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Membresías</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a (click)="VerMembresia()" *ngIf="UsuMat.Tipo == 'Admin'">Definición</a>
            <a (click)="VerMemPag()" *ngIf="UsuMat.Tipo == 'Admin'">&nbsp;&nbsp;&nbsp;&nbsp;· Pagos</a>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="UsuMat.Tipo == 'Admin' || UsuMat.Tipo == 'Supervisor' || UsuMat.Tipo == 'Soporte'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Productos</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a (click)="VerProCat()" *ngIf="UsuMat.Tipo == 'Admin'">Categorías</a>
            <a (click)="VerProEsp()" *ngIf="UsuMat.Tipo == 'Admin'">Especialidades</a>
            <a (click)="VerProDef()" *ngIf="UsuMat.Tipo == 'Admin'">Definición</a>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="UsuMat.Tipo == 'Admin' || UsuMat.Tipo == 'Supervisor' || UsuMat.Tipo == 'Soporte'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Devoluciones</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a (click)="VerViaDev()" *ngIf="UsuMat.Tipo == 'Admin' || UsuMat.Tipo == 'Supervisor' || UsuMat.Tipo == 'Soporte'">Pedidos</a>
            <a (click)="VerCenDev()" *ngIf="UsuMat.Tipo == 'Admin'">Centros</a>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="UsuMat.Tipo == 'Admin' || UsuMat.Tipo == 'Supervisor'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Promociones</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a (click)="VerDefPro()" *ngIf="UsuMat.Tipo == 'Admin'">Definición</a>
            <a (click)="VerEjePro()" *ngIf="UsuMat.Tipo == 'Admin'">Ejecución</a>
        </mat-expansion-panel>
        -->

        <mat-expansion-panel *ngIf="servicios.UsuMat.Tipo == 'Admin' || servicios.UsuMat.Tipo == 'Soporte'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1 class="H1TM">Soporte</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a (click)="VerSopPre()">Preguntas frecuentes</a>
            <a (click)="VerSopPro()">Problemas frecuentes</a>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="servicios.UsuMat.Tipo == 'Admin' || servicios.UsuMat.Tipo == 'Soporte' || servicios.UsuMat.Tipo == 'Supervisor'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1 class="H1TM">Usuarios</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a (click)="VerUsuAdm()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">Administradores</a>
            <a (click)="VerUsuSop()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">Soporte</a>
            <a (click)="VerUsuSup()" *ngIf="servicios.UsuMat.Tipo == 'Admin'">Supervisores</a>
            <a (click)="VerUsuCli()">Clientes</a>
            <a (click)="VerUsuCon()">Conductores</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1 class="H1TM">Opciones</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a (click)="VerOpcPre()">Perfil</a>
            <a (click)="VerOpcAyu()">Ayuda</a>
            <a (click)="VarOpcSal()">Salir</a>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div id="main">
    <router-outlet></router-outlet>
</div>